@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

.grid-container {
  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-gap: 10px;
  background-color: #cc0000;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  vertical-align: top;
  /*padding: 5px 5px 5px 5px;*/
  /*font-size: 30px;*/
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
}
.item2 {
  grid-column-start:1;
  grid-row-start:2;
}
.item3 {
  grid-column-start:3;

}

body {
  
}

h1 {
  color: navy;
}
