* {
    box-sizing: border-box;
}

a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 180px;
    text-decoration: none;
}

a:link, a:visited {
    background-color: #a188a6;
    color: white;
}

a:hover, a:active {
    background-color: #7f5a83;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #020202;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
}

.header {
    display: flex;
    align-items: center;
    background-color: #9da2ab;
    height: 200px;
    width: 100%;
    padding: 10px;
    text-align: left;
}

.projects{
    display:flex;
    flex-wrap: wrap;
}
.projects >div{
    flex: 1 0 200px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-right: 10px;
    background-color: #0d324d;
    color: white;
    padding: 10px;
    border-radius: 10px
}
.projects a{
    flex: 1 0 200px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-right: 10px;
    background-color: #0d324d;
    color: white;
    padding: 10px;
    border-radius: 10px
}
.title {
    /*color: white;*/
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 60px;
}
.section {
    display: flex;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    width: 100%;
}
.social a{
    display:inline-flex;
    align-items: center;
    width: 60px;
    background-color: inherit
}
.content{
}

.col-wrap{
    display: flex;
    flex-direction: row;
    /*height:100vh*/
}

.column {
    padding: 10px;
}

.column.side {
    flex: 0 0 200px;
    text-align: center;
    /*background-color: #CDDC39;*/
    color: #343148;
    font-family: 'Playfair Display', serif;
    font-weight:900;
    font-size: 24px

}

.column.main {
    flex:1;
    /*background-color:#A69CAC;*/
}

.footer {
    background-color: #9da2ab;
    color: white;
    padding: 10px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
