* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    background-color: #343148;
    height: 200px;
    width: 100%;
    padding: 10px;
    text-align: left;
}

.title {
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 60px;
}
.section {
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}
.col-wrap{
    display: flex;
    flex-direction: row;
    height:100vh
}

.column {
    padding: 10px;
}

.column.side {
    flex: 0 0 200px;
    background-color: #CDDC39;
    color: #343148;
    font-family: 'Playfair Display', serif;
    font-weight:900;
    font-size: 24px

}

.column.main {
    flex:1;
    overflow-y: visible;
    overflow-x: hidden;
    background-color:#A69CAC;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
